In [ ]:
import pandas as pd

Pandas
1. Creating DataFrames

In [ ]:
# From a dictionary
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

In [ ]:
# From a CSV/Excel file
df = pd.read_csv('file.csv')  # Read CSV
df = pd.read_excel('file.xlsx', sheet_name='Sheet1')  # Read Excel

2. Basic Operations

In [ ]:
df.head(n=5)            # First n rows
df.tail(n=5)            # Last n rows
df.info()               # DataFrame summary
df.describe()           # Summary stats for numerical columns
df.shape                # Dimensions of DataFrame (rows, columns)
df.columns              # List column names
df.dtypes               # Column data types
df['A'].unique()        # Unique values in column A
df['A'].nunique()       # Count of Unique values
df['A'].value_counts()  # Count of each values
df.isnull().sum()       # Count NaNs in each column
df['points'].skew()     # Identify skewness

3. Data Cleaning

In [ ]:
# Filling or dropping NaNs
df.fillna(0, inplace=True)    # Replace NaNs with 0
df.dropna(inplace=True)       # Drop rows with NaNs

# Renaming columns
df.rename(columns={'A': 'Column1'}, inplace=True)

# Changing data types
df['A'] = df['A'].astype(int)  # Convert column to integer
df['D'] = pd.to_datetime(df['D']) # Convert column to datetime

4. Filtering & Selection

In [ ]:
# Select columns
df[['A', 'B']]               # Select multiple columns
df.loc[:, 'A':'C']           # Select by columns name
df.iloc[0:11, 0:3]           # Select by columns index

In [ ]:
# Filter rows
df[df['A'] > 5]              # Rows where column A > 5
df.query('A > 5 and B < 10') # Query-based filtering

In [ ]:
# Conditional columns
df['New_Col'] = df['A'] * df['B']  # Add new column
df['lower_name'] = df['name'].str.lower()
df[['first_name','last_name']] = df['full_name'].str.split(' ',expand=True)

In [ ]:
# Plot
df['A'].hist() # histogram
df.boxplot('A') # boxplot
df['A'].value_counts().plot(kind='bar') # bar plot
df.set_index('date')['sales'].plot() # Time series

5. Groupby and Aggregation

In [ ]:
df.groupby('A')['B'].mean()          # Group by A, aggregate B
df.groupby('c3f').agg(
    max_c2=('c1', 'max'),
    min_c2=('c1', 'min'),
    sum_c3=('c3', 'sum'),
    mean_c3=('c3', 'mean')
).reset_index() # Multi-agg

In [ ]:
# Function    Description
# sum()       Sum of values
# mean()      Mean (average) value
# median()    Median value
# min()       Minimum value
# max()       Maximum value
# std()       Standard deviation
# var()       Variance
# count()     Count of non-null values
# nunique()   Number of unique values
# first()     First value
# last()      Last value
# mode()      Most frequent value(s)

6. Merging and Joining

In [ ]:
pd.concat([df1, df2], axis=0)           # Append rows
pd.concat([df1, df2], axis=1)           # Concatenate columns

In [ ]:
pd.merge(df1,df2, on='id', how='inner')
pd.merge(df1,df2, left_on='l_id',right_on='r_id', how='left')
pd.merge(df1,df2, left_on='l_id',right_on='r_id', how='right')
pd.merge(df1,df2, left_on='l_id',right_on='r_id', how='outer', indicator=True)

7. Exporting

In [ ]:
df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False)

8. Sorting

In [ ]:
df.sort_values('A', ascending=True)   # Sort by column A
df.sort_index(ascending=False)        # Sort by index

9. Pivot Tables

In [ ]:
df.pivot_table(index='A', columns='B', values='C', aggfunc='sum')  # Create pivot table

10. Handling Duplicates

In [ ]:
df.duplicated()                      # Boolean Series for duplicates
df.drop_duplicates(inplace=True)     # Drop duplicate rows
df[df.duplicated()]                  # Detect duplicates

11. Date and Time Operations

In [ ]:
df['date'] = pd.to_datetime(df['date'])   # Convert to datetime
df['year'] = df['date'].dt.year          # Extract year
df['month'] = df['date'].dt.month        # Extract month
df['day'] = df['date'].dt.day            # Extract day
df['weekday'] = df['date'].dt.day_name   # Extract day of week

12. MultiIndex

In [ ]:
df = df.set_index(['A', 'B'])             # Set multi-level index
df.reset_index(drop=True)                          # Reset index

13. Window Functions

In [ ]:
df['rolling_mean'] = df['A'].rolling(window=3).mean()  # Rolling mean
df['running_sum'] = df['A'].expanding().sum()          # Expanding sum
df['cum_sum'] = df.groupby('region')['A'].cumsum()     # cumulative sum partition by region

In [ ]:
# without partition
df=df.sort_values('A',ascending=False).reset_index(drop=True)
df['RN'] = df.index+1 # Row_Number
df['RN'] = df['A'].rank(method='min',ascending=False) # Rank
df['RN'] = df['A'].rank(method='dense',ascending=False) # Dense_Rank

In [ ]:
# with partition
df['RN'] = df.groupby('region').cumcount()+1 # Row_Number
df['RN'] = df.groupby('region')['A'].rank(method='min',ascending=False) # Rank
df['RN'] = df.groupby('region')['A'].rank(method='dense',ascending=False) # Dense_Rank

14. Advanced Aggregation

In [ ]:
df.groupby('A').transform('sum')         # Transform group values
df.groupby('A').apply(lambda x: x.head(1))  # Apply custom functions

Advanced Use Cases for Pandas
1. Custom Grouping Logic
You can use a custom function for grouping:

In [ ]:
def custom_group(x):
    if x < 10:
        return 'Low'
    elif x < 20:
        return 'Medium'
    else:
        return 'High'

df['Group'] = df['A'].apply(custom_group)
grouped = df.groupby('Group').sum()

2. Chaining Methods
Write concise and readable code by chaining methods:

In [ ]:
result = (
    df.query('A > 5')
      .assign(B=lambda x: x['A'] * 2)
      .groupby('C')
      .agg({'B': 'sum', 'A': 'mean'})
      .reset_index()
)

3. Exploding and Flattening Data
Handle lists within columns:

In [ ]:
df = pd.DataFrame({'A': [1, 2], 'B': [[1, 2], [3, 4]]})
df = df.explode('B')  # Split list into multiple rows

In [ ]:
df

   A  B
0  1  1
0  1  2
1  2  3
1  2  4

4. Merge with Complex Logic
Merge DataFrames on a range of values:

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 10], 'B': [5, 15]})
df2 = pd.DataFrame({'C': [3, 8, 12]})
df2['key'] = df2['C'].apply(lambda x: df1[(df1['A'] <= x) & (df1['B'] >= x)].index[0])
result = df2.merge(df1, left_on='key', right_index=True)

5. Performance Optimization with df.eval and df.query
Speed up operations by avoiding Python loops:

In [ ]:
df['C'] = df.eval('A + B')  # Fast computation
filtered_df = df.query('A > 5 & B < 10')  # Fast filtering

6. Dynamic Pivoting
Pivot with variable columns:

In [ ]:
pivot_col = 'Category'
df.pivot(index='ID', columns=pivot_col, values='Value')

7. Sparse DataFrames
Handle memory-efficient storage for sparse data:

In [ ]:
sparse_df = pd.DataFrame.sparse.from_spmatrix(scipy.sparse.csr_matrix([[1, 0], [0, 2]]))

In [ ]:
# All properties and methods of the DataFrame object, with explanations and examples:

# Property/Method	Description
# abs()	Return a DataFrame with the absolute value of each value
# add()	Adds the values of a DataFrame with the specified value(s)
# add_prefix()	Prefix all labels
# add_suffix()	Suffix all labels
# agg()	Apply a function or a function name to one of the axis of the DataFrame
# aggregate()	Apply a function or a function name to one of the axis of the DataFrame
# align()	Aligns two DataFrames with a specified join method
# all()	Return True if all values in the DataFrame are True, otherwise False
# any()	Returns True if any of the values in the DataFrame are True, otherwise False
# append()	Append new columns
# applymap()	Execute a function for each element in the DataFrame
# apply()	Apply a function to one of the axis of the DataFrame
# assign()	Assign new columns
# astype()	Convert the DataFrame into a specified dtype
# at	Get or set the value of the item with the specified label
# axes	Returns the labels of the rows and the columns of the DataFrame
# bfill()	Replaces NULL values with the value from the next row
# bool()	Returns the Boolean value of the DataFrame
# columns	Returns the column labels of the DataFrame
# combine()	Compare the values in two DataFrames, and let a function decide which values to keep
# combine_first()	Compare two DataFrames, and if the first DataFrame has a NULL value, it will be filled with the respective value from the second DataFrame
# compare()	Compare two DataFrames and return the differences
# convert_dtypes()	Converts the columns in the DataFrame into new dtypes
# corr()	Find the correlation (relationship) between each column
# count()	Returns the number of not empty cells for each column/row
# cov()	Find the covariance of the columns
# copy()	Returns a copy of the DataFrame
# cummax()	Calculate the cumulative maximum values of the DataFrame
# cummin()	Calculate the cumulative minmum values of the DataFrame
# cumprod()	Calculate the cumulative product over the DataFrame
# cumsum()	Calculate the cumulative sum over the DataFrame
# describe()	Returns a description summary for each column in the DataFrame
# diff()	Calculate the difference between a value and the value of the same column in the previous row
# div()	Divides the values of a DataFrame with the specified value(s)
# dot()	Multiplies the values of a DataFrame with values from another array-like object, and add the result
# drop()	Drops the specified rows/columns from the DataFrame
# drop_duplicates()	Drops duplicate values from the DataFrame
# droplevel()	Drops the specified index/column(s)
# dropna()	Drops all rows that contains NULL values
# dtypes	Returns the dtypes of the columns of the DataFrame
# duplicated()	Returns True for duplicated rows, otherwise False
# empty	Returns True if the DataFrame is empty, otherwise False
# eq()	Returns True for values that are equal to the specified value(s), otherwise False
# equals()	Returns True if two DataFrames are equal, otherwise False
# eval	Evaluate a specified string
# explode()	Converts each element into a row
# ffill()	Replaces NULL values with the value from the previous row
# fillna()	Replaces NULL values with the specified value
# filter()	Filter the DataFrame according to the specified filter
# first()	Returns the first rows of a specified date selection
# floordiv()	Divides the values of a DataFrame with the specified value(s), and floor the values
# ge()	Returns True for values greater than, or equal to the specified value(s), otherwise False
# get()	Returns the item of the specified key
# groupby()	Groups the rows/columns into specified groups
# gt()	Returns True for values greater than the specified value(s), otherwise False
# head()	Returns the header row and the first 5 rows, or the specified number of rows
# iat	Get or set the value of the item in the specified position
# idxmax()	Returns the label of the max value in the specified axis
# idxmin()	Returns the label of the min value in the specified axis
# iloc	Get or set the values of a group of elements in the specified positions
# index	Returns the row labels of the DataFrame
# infer_objects()	Change the dtype of the columns in the DataFrame
# info()	Prints information about the DataFrame
# insert()	Insert a column in the DataFrame
# interpolate()	Replaces not-a-number values with the interpolated method
# isin()	Returns True if each elements in the DataFrame is in the specified value
# isna()	Finds not-a-number values
# isnull()	Finds NULL values
# items()	Iterate over the columns of the DataFrame
# iteritems()	Iterate over the columns of the DataFrame
# iterrows()	Iterate over the rows of the DataFrame
# itertuples()	Iterate over the rows as named tuples
# join()	Join columns of another DataFrame
# last()	Returns the last rows of a specified date selection
# le()	Returns True for values less than, or equal to the specified value(s), otherwise False
# loc	Get or set the value of a group of elements specified using their labels
# lt()	Returns True for values less than the specified value(s), otherwise False
# keys()	Returns the keys of the info axis
# kurtosis()	Returns the kurtosis of the values in the specified axis
# mask()	Replace all values where the specified condition is True
# max()	Return the max of the values in the specified axis
# mean()	Return the mean of the values in the specified axis
# median()	Return the median of the values in the specified axis
# melt()	Reshape the DataFrame from a wide table to a long table
# memory_usage()	Returns the memory usage of each column
# merge()	Merge DataFrame objects
# min()	Returns the min of the values in the specified axis
# mod()	Modules (find the remainder) of the values of a DataFrame
# mode()	Returns the mode of the values in the specified axis
# mul()	Multiplies the values of a DataFrame with the specified value(s)
# ndim	Returns the number of dimensions of the DataFrame
# ne()	Returns True for values that are not equal to the specified value(s), otherwise False
# nlargest()	Sort the DataFrame by the specified columns, descending, and return the specified number of rows
# notna()	Finds values that are not not-a-number
# notnull()	Finds values that are not NULL
# nsmallest()	Sort the DataFrame by the specified columns, ascending, and return the specified number of rows
# nunique()	Returns the number of unique values in the specified axis
# pct_change()	Returns the percentage change between the previous and the current value
# pipe()	Apply a function to the DataFrame
# pivot()	Re-shape the DataFrame
# pivot_table()	Create a spreadsheet pivot table as a DataFrame
# pop()	Removes an element from the DataFrame
# pow()	Raise the values of one DataFrame to the values of another DataFrame
# prod()	Returns the product of all values in the specified axis
# product()	Returns the product of the values in the specified axis
# quantile()	Returns the values at the specified quantile of the specified axis
# query()	Query the DataFrame
# radd()	Reverse-adds the values of one DataFrame with the values of another DataFrame
# rdiv()	Reverse-divides the values of one DataFrame with the values of another DataFrame
# reindex()	Change the labels of the DataFrame
# reindex_like()	??
# rename()	Change the labels of the axes
# rename_axis()	Change the name of the axis
# reorder_levels()	Re-order the index levels
# replace()	Replace the specified values
# reset_index()	Reset the index
# rfloordiv()	Reverse-divides the values of one DataFrame with the values of another DataFrame
# rmod()	Reverse-modules the values of one DataFrame to the values of another DataFrame
# rmul()	Reverse-multiplies the values of one DataFrame with the values of another DataFrame
# round()	Returns a DataFrame with all values rounded into the specified format
# rpow()	Reverse-raises the values of one DataFrame up to the values of another DataFrame
# rsub()	Reverse-subtracts the values of one DataFrame to the values of another DataFrame
# rtruediv()	Reverse-divides the values of one DataFrame with the values of another DataFrame
# sample()	Returns a random selection elements
# sem()	Returns the standard error of the mean in the specified axis
# select_dtypes()	Returns a DataFrame with columns of selected data types
# shape	Returns the number of rows and columns of the DataFrame
# set_axis()	Sets the index of the specified axis
# set_flags()	Returns a new DataFrame with the specified flags
# set_index()	Set the Index of the DataFrame
# size	Returns the number of elements in the DataFrame
# skew()	Returns the skew of the values in the specified axis
# sort_index()	Sorts the DataFrame according to the labels
# sort_values()	Sorts the DataFrame according to the values
# squeeze()	Converts a single column DataFrame into a Series
# stack()	Reshape the DataFrame from a wide table to a long table
# std()	Returns the standard deviation of the values in the specified axis
# sum()	Returns the sum of the values in the specified axis
# sub()	Subtracts the values of a DataFrame with the specified value(s)
# swaplevel()	Swaps the two specified levels
# T	Turns rows into columns and columns into rows
# tail()	Returns the headers and the last rows
# take()	Returns the specified elements
# to_xarray()	Returns an xarray object
# transform()	Execute a function for each value in the DataFrame
# transpose()	Turns rows into columns and columns into rows
# truediv()	Divides the values of a DataFrame with the specified value(s)
# truncate()	Removes elements outside of a specified set of values
# update()	Update one DataFrame with the values from another DataFrame
# value_counts()	Returns the number of unique rows
# values	Returns the DataFrame as a NumPy array
# var()	Returns the variance of the values in the specified axis
# where()	Replace all values where the specified condition is False
# xs()	Returns the cross-section of the DataFrame
# __iter__()	Returns an iterator of the info axes

In [ ]:
import pandas as pd
import duckdb
# Run SQL query directly on DataFrame
result = duckdb.query("SELECT name, age FROM df WHERE age > 30").to_df()



## ðŸ”¹ Why use **DuckDB** with Pandas DataFrames?

1. **SQL inside Python**

   * If you think in SQL, DuckDB lets you run **Postgres-style SQL** directly on Pandas DataFrames.


2. **Performance** 

   * DuckDB is **vectorized** and written in C++, so queries (especially aggregations, joins, window functions) are much faster than pure Pandas on large data.
   * Handles **millions of rows** smoothly in-memory.
   * Can query **Parquet/CSV files directly** without loading them fully into Pandas first.

3. **Full SQL Power**

   * Supports **window functions, CTEs, subqueries, aggregations, joins**, etc.
   * Pandas can do most of these, but SQL is often **simpler and cleaner**.

4. **Interoperability**

   * Works with **Pandas, Polars, NumPy, Arrow** seamlessly.
   * Can also query **remote files (S3, GCS, etc.)** directly.

5. **No Server Needed**

   * DuckDB is **in-process** (like SQLite). No need to set up a database server.
   * Just `pip install duckdb` and query.

---

## ðŸ”¹ When to prefer DuckDB over Pandas?

* If youâ€™re **comfortable in SQL** and want to avoid verbose Pandas chaining.
* If your data is **big** (millions of rows).
* If you need **window functions** or **complex joins** (cleaner in SQL than Pandas).
* If you want to query **Parquet/CSV files directly** without conversion.


* Use **Pandas** for **small-to-medium, Pythonic data wrangling**.
* Use **DuckDB** when you need **SQL expressiveness, speed, or big data handling**.

---